.TargetTranslationItem {
    border-radius: 100px;
    background: var(--gray-day, #f5f5f5);
    display: flex;
    padding: 12px 10px 12px 14px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    &__leftFrom {
        display: flex;
        align-items: center;
        gap: 4px;
        flex: 1 0 0;
    }
    &__leftFromText {
        color: var(--text-color-day, #1f1e1c);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 18.2px */
        letter-spacing: -0.56px;
        text-wrap: nowrap;
    }
    &__rightFrom {
        display: flex;
        padding: 6px 10px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 100px;
        background: var(--bg-day, #fff);
    }
    &__rightFromText {
        color: var(--accent-color-day, #d7b27b);
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 12px */
        letter-spacing: -0.2px;
        text-wrap: nowrap;
    }
    &__icon {
        width: 20px;
        height: 20px;
    }
}
