.PaymentDetails {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-grow: 1;
    &__section {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60.196px;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
    }
    &__containerWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        width: 100%;
    }
    &__container {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 20px;
        width: 100%;
        background: var(--gray-day, #f5f5f5);
        gap: 20px;
    }
    &__textWrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__title {
        color: var(--text-color-day, #1f1e1c);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 24.2px */
        letter-spacing: -0.88px;
    }
    &__code {
        color: var(--accent-color-day, #d7b27b);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 24.2px */
        letter-spacing: -0.88px;
    }
    &__actionWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
    &__cardContainer {
        display: flex;
        height: 68px;
        padding: 12px 20px 12px 10px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 100px;
        background: var(--bg-day, #fff);
    }
    &__cardInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        flex: 1 0 0;
    }
    &__cardNumber {
        color: var(--text-color-day, #1f1e1c);
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 26.4px */
        letter-spacing: -0.66px;
    }
    &__cardName {
        color: var(--dark-gray-day, #9f9f9e);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.42px;
    }
    &__getCartInfo {
        display: flex;
        max-width: 510px;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px 70px;
        flex-wrap: wrap;
    }
    &__getCartItem {
        display: flex;
        max-width: 213px;
        width: 100%;

        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
    }
    &__getCartItemKey {
        color: var(--dark-gray-day, #9f9f9e);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.42px;
    }
    &__getCartItemValue {
        color: var(--text-color-day, #1f1e1c);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 20.8px */
        letter-spacing: -0.8px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__getCartItemBtn {
        border: none;
        background: none;
        display: flex;
        align-items: center;
    }
}
