.link {
    color: var(--accent-color-day, #d7b27b);
    text-align: center;
    font-family: "TT Firs Neue";
    font-size: 14.046px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.26px */
    letter-spacing: -0.562px;
    text-decoration-line: underline;
    @media screen and (max-width: 350px) {
        font-size: 10.046px;
    }
}
